@model PanelBatik.Models.OperationClass.CountModel

<div class="jumbotron-fluid">
    <div class="col-sm-4" style="background-color:#343a40;display:inline-block;border:1px groove white;">
        <center><label style="color:#868e96;font-size:200%;">Sipariş Sayısı</label></center>
        <center><label style="color:white;font-size:150%;">@Model.SiparisCount Adet</label></center>
    </div>
    <div class="col-sm-4" style="background-color:#343a40;display:inline-block;border:1px groove white;">
        <center><label style="color:#868e96;font-size:200%;">Ürün Sayısı</label></center>
        <center><label style="color:white;font-size:150%;">@Model.UrunCount Adet</label></center>
    </div>
    <div class="col-sm-4" style="background-color:#343a40;display:inline-block;border:1px groove white;">
        <center><label style="color:#868e96;font-size:200%;">Müşteri Sayısı</label></center>
        <center><label style="color:white;font-size:150%;">@Model.MusteriCount Adet</label></center>
    </div>
</div>
