@model IList<PanelBatik.Models.OperationClass.SiparisModel>

<br />

<div class="row" ng-controller="GetSiparisTable">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tarihe Göre Son 100 Siparişin Listesi 
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div style="float: right;">
                    Bir şey yazın: <input type="text" maxlength="30" placeholder="Ne Arıyorsunuz ?" ng-model="SearchSiparis"/>
                </div>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Sipariş Kodu</th>
                        <th>Müşteri AdSoyad</th>
                        <th>Müşteri Adresi</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Adeti</th>
                        <th>Durum</th>
                        <th>Siparişi Onayla</th>
                        <th>Siparişi Kargola</th>
                        <th>Siparişi Reddet</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in Siparisler | filter:SearchSiparis">
                    <tr class="gradeU">

                        <td>{{item.SiparisKodu}}</td>
                        <td>{{item.MusteriAdSoyad}}</td>
                        <td>{{item.Adres}}</td>
                        <td>{{item.UrunAd}}</td>
                        <td>{{item.UrunAdet}}</td>

                        <td ng-if="item.Statu == 0" style="color: orange;">Onay Bekleniyor</td>
                        <td ng-if="item.Statu == 0"><button class="btn btn-warning" ng-click="SiparisOnayla(item.Id)">Onayla</button></td>
                        <td ng-if="item.Statu == 0"></td>
                        <td ng-if="item.Statu == 0"><button class="btn btn-danger" ng-click="SiparisIptal(item.Id)">Reddet</button></td>

                        <td ng-if="item.Statu == 1" style="color: dodgerblue;">Kargo Bekleniyor</td>
                        <td ng-if="item.Statu == 1"></td>
                        <td ng-if="item.Statu == 1"><button class="btn btn-info" ng-click="SiparisKargola(item.Id)">Kargola</button></td>
                        <td ng-if="item.Statu == 1"><button class="btn btn-danger" ng-click="SiparisIptal(item.Id)">Reddet</button></td>

                        <td ng-if="item.Statu == 2" style="color: green;">Sipariş Tamamlandı</td>
                        <td ng-if="item.Statu == 2"></td>
                        <td ng-if="item.Statu == 2"></td>
                        <td ng-if="item.Statu == 2"></td>

                        <td ng-if="item.Statu == 3" style="color: red;">Sipariş Reddedildi</td>
                        <td ng-if="item.Statu == 3"></td>
                        <td ng-if="item.Statu == 3"></td>
                        <td ng-if="item.Statu == 3"></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>